/* src/components/carouselComponent/CarouselComponent.scss */
.carousel {
  flex: 1;
  margin-left: 20px;
  width: 30%; /* Заставляем компонент занимать 50% ширины */
}

  .swiper {
    width: 100%;
    height: 300px; /* Уменьшаем высоту слайдера */

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    /* Стили для кнопок навигации */
    .swiper-button-prev,
    .swiper-button-next {
      background-color: rgba(0, 0, 0, 0); /* Полупрозрачный фон */
      color: rgba(255, 255, 255, 0.107); /* Белый текст */
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Темнее при наведении */
      }
    }
  }



// Адаптивность для мобильных устройств
@media (max-width: 768px) {
  #carousel {
    width: 100%; /* На мобильных устройствах компонент занимает всю ширину экрана */
  }
}