/* src/components/Header.scss */
.header {
  background-color: #333; /* Темный фон */
  color: white; /* Белый текст */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Меняем направление на вертикальное */
  justify-content: space-between;
  box-sizing: border-box; /* Учитываем внутренние отступы и границы */

  .header-content {
    flex: 1;
    text-align: center; /* Выравниваем текст по центру */
    display: flex;
    align-items: center; /* Выравниваем иконку и текст по вертикали */
    justify-content: center; /* Выравниваем иконку и текст по горизонтали */

    .header-logo-container {
      margin-right: 10px; /* Уменьшаем отступ справа от иконки */
    }

    .header-logo {
      width: 100px; /* Ширина иконки */
      height: 100px; /* Высота иконки */
    }
  }

  .header-nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around; /* Равномерное распределение кнопок */
      width: 100%; /* Растягиваем на всю ширину */
      padding: 0; /* Уменьшаем внутренние отступы для контейнера кнопок */
      box-sizing: border-box; /* Учитываем внутренние отступы и границы */

      li {
        flex: 1; /* Равномерное распределение по ширине */
        margin: 0; /* Убираем отступы между кнопками */
      }
      li:last-child {
        flex-grow: 0; /* Заставляем последнюю кнопку занимать оставшееся пространство */
      }
    }
  }
}
