/* src/components/Header.scss */

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .header-content {
    display: grid;
    grid-template-columns: 1fr; /* Одна колонка */
    align-items: start; /* Верхнее выравнивание */
  }

  /* Контейнер для всей информации */
  .header-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Равномерное распределение элементов */
    gap: 24px; /* Интервал между элементами */
  }

  /* Логотип слева */
  .header-logo-container {
    margin-right: 12px;

    .header-logo {
      width: 100px;
      height: 100px;
    }
  }

  /* Название организации идёт вслед за логотипом */
  .header-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Телефонные номера */
  .header-phones {
    display: inline-flex;
    gap: 24px;
    margin-left: auto; /* Правое расположение */

    a {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
    }

    a:hover,
    a:visited,
    a:active {
      color: #fff;
    }
  }

  /* Кнопка "Заказать консультацию" */
  .cf-link {
    display: inline-flex;
    align-items: center;
    gap: 10px; /* Расстояние между текстом и иконкой */
  }

  /* Обработчик для самой ссылки */
  .link-with-icon {
    display: inline-flex; /* Горизонтальное расположение элементов */
    align-items: center; /* Центрирование по вертикали */
    gap: 10px; /* Между текстом и иконкой */

    img {
      width: 48px; /* Ширина иконки */
    }

    span {
      white-space: nowrap; /* Чтобы текст не переносился */
    }
  }

  /* Меню навигации */
  .header-nav {
    margin-top: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
      box-sizing: border-box;

      li {
        flex: 1;
        margin: 0;
      }

      li:last-child {
        flex-grow: 0;
      }
    }
  }
}