footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: static; /* Фиксируем футер внизу страницы */
  bottom: 0;
  width: 100%; /* Заставляем футер занимать всю ширину */
  box-sizing: border-box; /* Учитываем внутренние отступы и границы */
}
